<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/util
       http://www.springframework.org/schema/util/spring-util.xsd">

    <bean id="drawService" class="org.xander.service.DrawService">
        <constructor-arg ref="drawHibernateDao"/>
    </bean>

    <bean id="drawConfigurationService" class="org.xander.service.DrawConfigurationService">
        <constructor-arg ref="drawConfigurationHibernateDao"/>
    </bean>

    <bean id="playerService" class="org.xander.service.PlayerService">
        <constructor-arg ref="playerHibernateDao"/>
    </bean>

    <bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="randomService" class="org.xander.randomService.RandomNumberGenerationService" >
        <property name="sizeOfWinNumbers" value="5" />
    </bean>

    <bean id="generateDraw" class="org.xander.userScenario.DrawGeneration">
        <constructor-arg index="0" ref="drawService"/>
        <constructor-arg index="1" ref="randomService"/>
        <constructor-arg index="2" ref="simpleGeneration"/>
    </bean>

    <bean id="simpleGeneration" class="org.xander.userScenario.SimpleGeneration">
        <constructor-arg ref="drawConfigurationService"/>
    </bean>

    <bean id="generatePlayer" class="org.xander.userScenario.PlayerGeneration">
        <constructor-arg index="0" ref="playerService"/>
        <constructor-arg index="1" ref="randomService"/>
    </bean>

    <bean id="drawResults" class="org.xander.userScenario.DrawResults">
        <constructor-arg index="0" ref="playerService"/>
        <constructor-arg index="1" ref="drawService"/>
        <constructor-arg index="2" ref="drawConfigurationService"/>
    </bean>

    <bean id="drawResultsService" class="org.xander.restLayer.DrawResultsService">
        <constructor-arg ref="drawResults"/>
    </bean>

    <bean id="generateDrawService" class="org.xander.restLayer.GenerateDrawService">
        <constructor-arg ref="generateDraw"/>
    </bean>

    <bean id="playerGenerationService" class="org.xander.restLayer.PlayerGenerationService">
        <constructor-arg ref="generatePlayer"/>
    </bean>

    <tx:annotation-driven transaction-manager="transactionManager"/>
    <aop:aspectj-autoproxy proxy-target-class="true"/>
</beans>