<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="org.xander.service"/>

    <bean id="drawService" class="org.xander.service.DrawService">
        <constructor-arg ref="drawHibernateDao"/>
    </bean>

    <bean id="drawConfigurationService" class="org.xander.service.DrawConfigurationService">
        <constructor-arg ref="drawConfigurationHibernateDao"/>
    </bean>

    <bean id="playerService" class="org.xander.service.PlayerService">
        <constructor-arg ref="playerHibernateDao"/>
    </bean>

    <bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <tx:annotation-driven transaction-manager="transactionManager"/>
</beans>